@model CLESportsBlog.Models.Team
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="~/css/TeamStyleSheet.css" rel="stylesheet" />

</head>
<body>
    <section id="top">
        <h1>@Model.Name Posts</h1>
    </section>

    <main>
        @foreach (var content in Model.Contents)
        {
            <div id="contentInfo">
                <h2>@content.Title</h2>
                <h3>By: @content.Author</h3>
            </div>

            <div id="contentBody">
                <p>@content.Body<br /><br />@content.PublishDate</p>               
            </div>

            <div id="contentActions">
                <a href="/Content/Update/@content.Id">Edit</a>
                <a href="/Content/Delete/@content.Id">Remove</a>
            </div>
        }
    </main>

    <nav>
        <a href="/Content/CreateByTeamId/@Model.Id">Add Post</a>
        <a href="#top">Top</a>
        <a href="/Team/Index/">Home</a>
    </nav>


</body>
</html>
